  {{> sidehome}}

		<!-- Heading -->
		{{> home}}
  
  
        <div>
            <div class="w3-row wid-80">
                <div class="w3-twothird">
                    
                    <h5 class="text-lf" style="font-weight: bold">Enjoy Our vast collection of PDFs from Faculties of</h5>
                                <div class="section">
                                    <br>
                                    <ul class="list-area text-cnt">
                                        <li><a href="/FET">Engineering and Technology</a></li>
                                        <li><a href="/FED">Education</a></li>
                                        <li><a href="/FHS">Health Sciences</a></li>  
                                        <li><a href="/FAVM">Agricultural Sciences and Vetenary Medicine</a></li>
                                        <li><a href="/COT">College of Technology</a></li>
                                        <li><a href="/SMS">Social and Management Sciences</a></li>
                                    </ul>
                                </div>   
                </div>
                <div class="w3-third">
                    <div class="wid-80">
                            <h3 class="text-lf" style="font-weight: bold">Pick a faculty and enjoy</h3>
                        <h3 class="text-cnt">Thank you for</h3>
                        <h5 class="text-cnt">Using our services</h5>
                    </div> 
                </div>
            </div>
        </div>
