{{> fheader}}

		<!-- Heading -->
		{{> fheading}}



            <section id="items">
                    <div class="container">   
                         <h2 id="handout">HANDOUTS <a class="icon fa-vcard-o"><span class="label">Icon</span></a></h2>
                       <div class="img w3-row">
                        <div class="w3-quarter">
                          <div class="opacity card2">
                            <a href="#"><img src="/images/img1.jpg"></a><div class="center"><button class="w3-btn w3-white clr-theme-hover lvl2">Level 200</button></div>
                          </div>
                        </div>
                        <div class="w3-quarter">
                          <div class="opacity card2">
                            <a href="#"><img src="/images/img2.jpg"></a><div class="center"><button class="w3-btn w3-white clr-theme-hover lvl3">Level 300</button></div>
                          </div>
                        </div>
                        <div class="w3-quarter">
                          <div class="opacity card2">
                            <a href="#"><img src="/images/img3.jpg"></a><div class="center"><button class="w3-btn w3-white clr-theme-hover lvl4">Level 400</button></div>
                          </div>
                        </div>
                        <div class="w3-quarter">
                          <div class="opacity card2">
                            <a href="#"><img src="/images/img4.jpg"></a><div class="center"><button class="w3-btn w3-white clr-theme-hover lvl5">Level 500+</button></div>
                          </div>
                        </div>
                       </div> 
                       <div class="level2 wid-80">
                         <table class="w3-table w3-bordered w3-hoverable w3-large w3-card-2">
                            <tr class="w3-white">
                              <th>Level 200 Courses</th>
                              <th style="width: 20%;">Downloads</th>
                            </tr>
                            <tr>
                              <td>Boolean Algebra</td>
                              <td><a href="/library/FET/Boolean algebra.pdf" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                            <tr>
                              <td>Digital Principles and Logic Design</td>
                              <td><a href="/library/FET/Digital Principles and Logic Design~tqw~_darksiderg.pdf" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                              <tr>
                              <td>C Programming A Modern Approach</td>
                              <td><a href="/library/FET/C_Programming_A_Modern_Approach_2nd_Ed.pdf" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                            <tr>
                              <td>Fundamentals of Algorithms</td>
                              <td><a href="/library/FET/Fundamentals of Algorithms - CS502 Handouts2.pdf" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                            <tr>
                              <td>Digital Electronics</td>
                              <td><a href="/library/FET/Digital Electronics.pdf" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                            <tr>
                              <td>Circuit Analysis</td>
                              <td><a href="/library/FET/CIRCUIT ANALYSIS.pdf" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                            <tr>
                              <td>An Introduction to Numerical Analysis</td>
                              <td><a href="/library/FET/An Introduction to Numerical Analysis for Electrical and Computer Engineers - Wiley.pdf" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                            <tr>
                              <td>C++ Programming for Absolute Beginner</td>
                              <td><a href="/library/FET/C++ Programming for the Absolute Beginner, Second Edition.pdf" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                            <tr>
                              <td>Discrete Mathematics and Its Applications</td>
                              <td><a href="/library/FET/Discrete Mathematics and its Applications - Rosen.pdf" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                            <tr>
                              <td>Stewart Calculus Early Trancendentals</td>
                              <td><a href="/library/FET/Stewart Calculus Early Transcendentals 7th txtbk.pdf" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                          </table>
                       </div>
                       <div class="level3 wid-80">
                         <table class="w3-table w3-bordered w3-hoverable w3-large w3-card-2">
                            <tr class="w3-white">
                              <th>Level 300 Courses</th>
                              <th style="width: 20%;">Downloads</th>
                            </tr>
                            <tr>
                              <td>Algorithm and Data Structures</td>
                              <td><a href="#" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                            <tr>
                              <td>Eve</td>
                              <td><a href="#" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                              <tr>
                              <td>Adam</td>
                              <td><a href="#" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                          </table>
                       </div>
                       <div class="level4 wid-80">
                         <table class="w3-table w3-bordered w3-hoverable w3-large w3-card-2">
                            <tr class="w3-white">
                              <th>Level 400 Courses</th>
                              <th style="width: 20%;">Downloads</th>
                            </tr>
                            <tr>
                              <td>Jill</td>
                              <td><a href="#" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                            <tr>
                              <td>Eve</td>
                              <td><a href="#" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                              <tr>
                              <td>Adam</td>
                              <td><a href="#" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                          </table>
                       </div>
                       <div class="level5 wid-80">
                         <table class="w3-table w3-bordered w3-hoverable w3-large w3-card-2">
                            <tr class="w3-white">
                              <th>Level 500+ Courses</th>
                              <th style="width: 20%;">Downloads</th>
                            </tr>
                            <tr>
                              <td>Jill</td>
                              <td><a href="#" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                            <tr>
                              <td>Eve</td>
                              <td><a href="#" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                              <tr>
                              <td>Adam</td>
                              <td><a href="#" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                          </table>
                       </div>                                                                     
                    </div>
                    <div class="container">   
                         <h2 id="handout">Tutorials <a class="icon fa-qrcode"><span class="label">Icon</span></a></h2>
                       <div class="img w3-row">
                        <div class="w3-quarter">
                          <div class="opacity card2">
                            <a href="#"><img src="/images/img1.jpg"></a><div class="center"><button class="w3-btn w3-white clr-theme-hover lvl2">Level 200</button></div>
                          </div>
                        </div>
                        <div class="w3-quarter">
                          <div class="opacity card2">
                            <a href="#"><img src="/images/img2.jpg"></a><div class="center"><button class="w3-btn w3-white clr-theme-hover lvl3">Level 300</button></div>
                          </div>
                        </div>
                        <div class="w3-quarter">
                          <div class="opacity card2">
                            <a href="#"><img src="/images/img3.jpg"></a><div class="center"><button class="w3-btn w3-white clr-theme-hover lvl4">Level 400</button></div>
                          </div>
                        </div>
                        <div class="w3-quarter">
                          <div class="opacity card2">
                            <a href="#"><img src="/images/img4.jpg"></a><div class="center"><button class="w3-btn w3-white clr-theme-hover lvl5">Level 500+</button></div>
                          </div>
                        </div>
                       </div>
                       <div class="level2 wid-80">
                         <table class="w3-table w3-bordered w3-hoverable w3-large w3-card-2">
                            <tr class="w3-white">
                              <th>Level 200 Tutorials</th>
                              <th style="width: 20%;">Downloads</th>
                            </tr>
                            <tr>
                              <td>Jill</td>
                              <td><a href="#" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                            <tr>
                              <td>Eve</td>
                              <td><a href="#" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                              <tr>
                              <td>Adam</td>
                              <td><a href="#" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                          </table>
                       </div>
                       <div class="level3 wid-80">
                         <table class="w3-table w3-bordered w3-hoverable w3-large w3-card-2">
                            <tr class="w3-white">
                              <th>Level 300 Tutorials</th>
                              <th style="width: 20%;">Downloads</th>
                            </tr>
                            <tr>
                              <td>Jill</td>
                              <td><a href="#" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                            <tr>
                              <td>Eve</td>
                              <td><a href="#" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                              <tr>
                              <td>Adam</td>
                              <td><a href="#" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                          </table>
                       </div>
                       <div class="level4 wid-80">
                         <table class="w3-table w3-bordered w3-hoverable w3-large w3-card-2">
                            <tr class="w3-white">
                              <th>Level 400 Tutorials</th>
                              <th style="width: 20%;">Downloads</th>
                            </tr>
                            <tr>
                              <td>Jill</td>
                              <td><a href="#" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                            <tr>
                              <td>Eve</td>
                              <td><a href="#" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                              <tr>
                              <td>Adam</td>
                              <td><a href="#" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                          </table>
                       </div>
                       <div class="level5 wid-80">
                         <table class="w3-table w3-bordered w3-hoverable w3-large w3-card-2">
                            <tr class="w3-white">
                              <th>Level 500+ Tutorials</th>
                              <th style="width: 20%;">Downloads</th>
                            </tr>
                            <tr>
                              <td>Jill</td>
                              <td><a href="#" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                            <tr>
                              <td>Eve</td>
                              <td><a href="#" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                              <tr>
                              <td>Adam</td>
                              <td><a href="#" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                          </table>
                       </div>                                                                                             
                    </div>
                    
                    <div class="container">   
                         <h2 id="handout">Past Questions <a class="icon fa-qrcode"><span class="label">Icon</span></a></h2>
                       <div class="img w3-row">
                        <div class="w3-quarter">
                          <div class="opacity card2">
                            <a href="#"><img src="/images/img1.jpg"></a><div class="center"><button class="w3-btn w3-white clr-theme-hover lvl2">Level 200</button></div>
                          </div>
                        </div>
                        <div class="w3-quarter">
                          <div class="opacity card2">
                            <a href="#"><img src="/images/img2.jpg"></a><div class="center"><button class="w3-btn w3-white clr-theme-hover lvl3">Level 300</button></div>
                          </div>
                        </div>
                        <div class="w3-quarter">
                          <div class="opacity card2">
                            <a href="#"><img src="/images/img3.jpg"></a><div class="center"><button class="w3-btn w3-white clr-theme-hover lvl4">Level 400</button></div>
                          </div>
                        </div>
                        <div class="w3-quarter">
                          <div class="opacity card2">
                            <a href="#"><img src="/images/img4.jpg"></a><div class="center"><button class="w3-btn w3-white clr-theme-hover lvl5">Level 500+</button></div>
                          </div>
                        </div>
                       </div> 
                       <div class="level2 wid-80">
                         <table class="w3-table w3-bordered w3-hoverable w3-large w3-card-2">
                            <tr class="w3-white">
                              <th>Level 200 Past Questions</th>
                              <th style="width: 20%;">Downloads</th>
                            </tr>
                            <tr>
                              <td>Jill</td>
                              <td><a href="#" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                            <tr>
                              <td>Eve</td>
                              <td><a href="#" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                              <tr>
                              <td>Adam</td>
                              <td><a href="#" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                          </table>
                       </div>
                       <div class="level3 wid-80">
                         <table class="w3-table w3-bordered w3-hoverable w3-large w3-card-2">
                            <tr class="w3-white">
                              <th>Level 300 Past Questions</th>
                              <th style="width: 20%;">Downloads</th>
                            </tr>
                            <tr>
                              <td>Jill</td>
                              <td><a href="#" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                            <tr>
                              <td>Eve</td>
                              <td><a href="#" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                              <tr>
                              <td>Adam</td>
                              <td><a href="#" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                          </table>
                       </div>
                       <div class="level4 wid-80">
                         <table class="w3-table w3-bordered w3-hoverable w3-large w3-card-2">
                            <tr class="w3-white">
                              <th>Level 400 Past Questions</th>
                              <th style="width: 20%;">Downloads</th>
                            </tr>
                            <tr>
                              <td>Jill</td>
                              <td><a href="#" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                            <tr>
                              <td>Eve</td>
                              <td><a href="#" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                              <tr>
                              <td>Adam</td>
                              <td><a href="#" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                          </table>
                       </div>
                       <div class="level5 wid-80">
                         <table class="w3-table w3-bordered w3-hoverable w3-large w3-card-2">
                            <tr class="w3-white">
                              <th>Level 500+ Past Questions</th>
                              <th style="width: 20%;">Downloads</th>
                            </tr>
                            <tr>
                              <td>Jill</td>
                              <td><a href="#" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                            <tr>
                              <td>Eve</td>
                              <td><a href="#" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                              <tr>
                              <td>Adam</td>
                              <td><a href="#" class="w3-btn w3-white clr-theme-hover">Download</a></td>
                            </tr>
                          </table>
                       </div>                                                                                            
                    </div>
                </section>