{{> header}}

		<!-- Heading -->
		{{> heading}}

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>What Would You Like?</h2>
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<a href="/please" class="icon fa-vcard-o"><span class="label">Icon</span></a>
									<h3>Handouts</h3>
								</header>
								<p>Here you can get your handouts before attending the course. Read, study, don't wait for the Lecturer. Time waits for no WOMAN.</p>
							</div>
                        </section>
                        <section>
                                <div class="content">
                                    <header>
                                        <a href="/please" class="icon fa-qrcode"><span class="label">Icon</span></a>
                                        <h3>Tutorial Sheets</h3>
                                    </header>
                                    <p>Do you understand, test yourself, find out if what you read really got stock. We have a vast variety of questions here.</p>
                                </div>
                            </section>
						<section>
							<div class="content">
								<header>
									<a href="/please" class="icon fa-files-o"><span class="label">Icon</span></a>
									<h3>Past Questions</h3>
								</header>
								<p>Curiosity kills the cat, but you are not a cat, See what past questions seem like to know where you stand.</p>
							</div>
						</section>						
					</div>
				</div>
			</section>

		<!-- CTA -->
			<section id="cta" class="wrapper">
				<div class="inner">
					<h2>Learning has never been made this easier</h2>
					<p>Are you bored during the holidays, feel like your days are being wasted, are you knowledge hungry, we have everything here for you, be the best and the first before you get to class. The world is competitive, beat your opponents without them Knowing.</p>
					<ul class="navbr">
						<li style="float:right"><a href="/sign-in">Sign-In</a></li>
						<li style="float:right"><a href="/sign-up">Sign-up</a></li>
					</ul>
				</div>
			</section>

		<!-- Testimonials -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>About Us</h2>
						<p>We are level 300 students, who sort to find a solution of the buying and selling of Handouts, Tutorial Sheets and Past questions.</p>
						<h4>Know Us</h4>
					</header>
					<div class="testimonials">
						<section>
							<div class="content">
								<blockquote>
									<p>It is I, believe in oneself is key to having confidence. We will be here to guide you.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="images/pic01.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Armand Collins</strong> <span>Group Head</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>Knowing too much never killed any one, here we know no boundries, study what you love.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="images/pic03.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Akum Blaise</strong> <span>Database Analyst</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>Great minds think alike, study now so as to reduce the stress of later.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="images/pic02.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Jume Brice</strong> <span>Backend Programmer</span></p>
								</div>
							</div>
						</section>
					</div>
					<div class="testimonials">
						<section>
							<div class="content">
								<blockquote>
									<p>Bringing beauty of tomorrow, today, by bringing a simplified to way access information. Enjoy it </p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="images/pic01.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Usmaila Abdoul</strong> <span>Frontend Developer</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>Doing the hard stuff for you, is a pleasure. No need to stress I get everything for you</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="images/pic03.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Ndjoko Bidias Cesar</strong> <span>Data Collector</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>Bringing everything to you ealier and cheaper is all we think about.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="images/pic02.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Azimbum Pino</strong> <span></span></p>
								</div>
							</div>
						</section>
					</div>
				</div>
			</section>
