

<div class="underlay text-cnt pos-rel" id="top">
                <div>
                    <div class="pad-8 color-white">
                        <br />
						<br />
						<br />
                        <h1 class="welcome">Welcome To Tomorrow</h1>
                        {{#each welcome}} 
                            <h3 style="color: white; font-family: gabriola;">
                                {{message}}
                            </h3>
                        {{/each}}
                    </div>
                </div>
                <div class="wid-80">
                    <div class="btm wid-80">
                        <ul class="navbr " id="togle">
							<li style="float: right;"><a href="#">Handouts</a></li>
							<li style="float: right;"><a href="#">Past Questions</a></li>
                            <li style="float: right;"><a href="#">Tutorials</a></li>
                            <li style="float: right;"><a href="/facHome">Home</a></li>
                            <li style="float: right;"><a href="#">About UB</a></li>
                        </ul>
                    </div>
                </div>
            </div>