
		<!-- Header -->
			<header id="header">
				<a class="logo" href="home.html">BOOK APP</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>
            		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/facHome">Home</a></li>
					<li><a href="elements.html">Handouts</a></li>
					<li><a href="generic.html">Tutorials</a></li>
					<li><a href="sign-up">Past Question</a></li>
					<li><a href="sign-in">About Us</a></li>
				</ul>
			</nav>