
		<!-- Header -->
			<header id="header">
				<a class="logo" href="home.html">BOOK APP</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>
            		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="#">About UB</a></li>
					<li><a href="#">About Us</a></li>
					<li><a href="sign-up">Sign-up</a></li>
					<li><a href="sign-in">Sign-In</a></li>
				</ul>
			</nav>