<div class="underlay text-cnt pos-rel" id="top">
                <div>
                    <div class="pad-8 color-white">
                        <h3>Linking Youths</h3>
						<br />
						<br />
                        <h1 class="welcome">Welcome To Tomorrow</h1>
                    </div>
                </div>
                <div class="wid-80">
                    <div class="btm wid-80">
                        <ul class="navbr " id="togle">
							<li style="float: right;"><a href="sign-up">Sign-up</a></li>
							<li style="float: right;"><a href="sign-in">Sign-in</a></li>
                            <li style="float: right;"><a href="/">Home</a></li>
                            <li style="float: right;"><a href="#">About UB</a></li>
                        </ul>
                    </div>
                </div>
            </div>